.gridcontainer{
    display: grid;
    grid-template-columns: 40% 30%;
} 
h1{
    font-size: 48px;
    font-family: Merriweather;
    padding-right: 50px;
}
.info{
    font-family: Open Sans;
    font-size: 	12px;
    font-weight: bold;
    padding-top: 40px;
}

.experience{
    padding-top: 40px;
    padding-right: 50px;
}
.column2{
    padding-top: 40px;
}

.techskills{
    padding-top: 10px;
}

.languages{
    padding-top: 10px;
}

h2{
    color:#2079c7;
    font-family: Open Sans;
    font-size: 	12px;
}
h3{
    font-weight: lighter;
    font-size: 14.667px;
    font-family: Merriweather;
}
h4{
   color: #666666;
   line-height: 0; 
   font-weight: lighter;
   font-family: Open Sans;
   font-size: 10.667px;
}
.company{
    font-weight: bold;
    font-family: Merriweather;
}
.title{
    font-style: italic;
    font-family: Merriweather;
}
li{
    color: #666666;
    font-size: 	12px;
    font-family: Merriweather;
}
a {
    color: black;
    text-decoration: none;
}
.info a:hover{
    text-decoration: underline;
}


